In [1]:
import pandas as pd

In [2]:
url = 'https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv'
url

'https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv'

In [6]:
df_zone = pd.read_csv(url)
df_zone.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [9]:
len(df_zone)

265

In [8]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [10]:
df_zone.to_sql(name='zone',con=engine,if_exists = 'replace')

265